@import 'reset.scss';
@import 'utility.scss';

$gray: '#333';

body {
	background: #fff;
	color: $gray;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
p,
ul {
	margin: 10px;
}

h1 {
	font-size: 32px;
	text-align: center;
}

.wrapper {
	height: 520px;
	margin: 40px auto 0;
	width: 520px;
	.players {
		ul {
			text-align: center;
			li {
				display: inline-block;
				font-size: 18px;
				margin: 10px;
			}
			li.active {
				color: #FF8000;
			}
		}
	}
	.board_wrapper {
		height: 520px;
		width: 520px;
		.board {
			.space {
				border: 1px solid #000;
				-moz-box-sizing: border-box;
				-o-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				color: #000;
				display: block;
				float: left;
				height: 100px;
				margin: 0;
				overflow: hidden;
				position: relative;
				text-align: center;
				text-decoration: none;
				vertical-align: middle;
				width: 100px;
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}